.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.artisan-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.artisan-table td, .artisan-table th {
  border: 1px solid #ccc;
  padding: 8px;
}

.review {
  margin-bottom: 10px;
}